
body {
    background: #171517;
    color: white;
    margin: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

header {
    color: white;
    padding: 1rem;
    text-align: center;
    height: 800px;
    position: relative;
}

nav {
    display: block;
}

#nav-wrap {
    font: 15px 'Open Sans', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}

ul#nav {
    min-height: 48px;
    width: auto;
    text-align: center;
}

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}

ul#nav li a {
    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: white;
}

header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
}